/* CSS toàn trang */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS cho body tag */
body{
    font-family: "Poppins", sans-serif;
}

/* Tạo background gradian cho class header */
.header{
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
.header .row{
    margin-top: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header .row{
    margin-top: 70px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/* CSS nút button */
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #fff;
    color: black;
}
p{
    color: #fff;
}

/* Categories */

.small-container{
    min-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

/* Product display */

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 50px;
    transition: transform 0.6s;
}
.col-4 img{
    width: 100%;
}

.col-4:hover{
    transform: translateY(-5px);
}
h4{
    color: #555;
    font-size: normal;
}
.rating .fa{
    color: #ff523b;
}


/* PR Bannner */

.offer{
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 76, 107, 1) 100%);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #fff;
}

/* Feedback */

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

/* Brand Logo */

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
    /* Câu trả lời đây */
}

/* Footer */
.footer{
    background: black;
}

.footer p{
    font-size: 12px;
    color: #777;
}

.footer h3{
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    padding-bottom: 10px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    padding-top: 50px;
    text-align: center;
}

.footer-col-1{
    text-align: left;
}


.footer-col-2 img{
    width: 350px;
}

.footer hr{
    color: gray;
    margin-top: 30px;
}

.copyright{
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}